[Unit]
Description=OpenStack Neutron RPC Server
After=mysql.service postgresql.service rabbitmq-server.service keystone.service remote-fs.target 

Documentation=man:neutron-server(1)

[Service]
User=neutron
Group=neutron
Type=simple
WorkingDirectory=~
RuntimeDirectory=neutron lock/neutron
CacheDirectory=neutron
ExecStart=/etc/init.d/neutron-rpc-server systemd-start
Restart=on-failure
LimitNOFILE=65535
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
